*{
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url(./media/page-background.png);
}

nav {
    height: 6.125em;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #960000;
}

.logo {
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 7px;
    border-right: 1px solid rgba(153, 153, 153, 0.2);
} 

.nav-menu {
    width: 60%;
    display: flex;
    list-style-type: none;
    margin-left: 4.5px;
}


.nav-menu li>a {
    text-decoration: none;
    color: #999;
    cursor: pointer;
    padding: 2.2em 0.6em;
    font-size: 1.2em;
}

.nav-menu li>a:hover {
    background-color: #960000
}

.welcome-heading {
    height: 53px;
    background-color: rgba(26, 121, 40, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
}

h1 {
    color: #fafafa;
    width: 45%;
    font-size: 2.3em;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
}

.white-section{
    margin-top: 10px;
    background-color: white;
}

.section-one{
    display:flex;
    height: 140px;
}

.remobilization-notification {
    width: 59.7%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.remobilization-content {
    color: white;
    font-size: medium;
    width: 39%;
    height: 45%;
    background-color: rgb(229, 89, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 6px;
}

.remobilization-content .remobilization-deadline{
    background-color: white;
    border-radius: 4px;
    color: rgb(169, 111, 12);
    font-size: small;
    font-weight: bold;
    padding: 3.5px;

}

.login {
    width: 40.3%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.login span {
    margin-top: 10px;
    height: 20%;
    font-size: 18px;
    font-weight: bold;
}

.login-image {
    height: 68%;
    width: 18%;
}

.login-image>img {
    max-width: 100%;
    height: auto;
    display: block;
}

.youthplus{
    margin: 0 auto;
    padding: 25px 15px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 3px #999;
    border-radius: 5px;
}

.youthplus>img{
    max-width: 100%;
    height: auto;
    display: block;
}

.section-three {
    margin-top: 35px;
}

.online-application {
    height: 113px;
    width: 82.7%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 3px #999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-application .textone {
    color: rgb(209, 16, 16);
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-two>a {
    text-decoration: none;
    color: #4f8db3;
    font-size: 15px;
}

.text-two>a:hover {
    text-decoration: underline;
    color: rgb(39, 95, 129);
}

.section-four {
    margin-top: 58px;
}

.info-section {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.info-item {
    width: 29.5%;
    height: 217px;
    background-color: white;
    box-shadow: 0px 0px 3px #999;
    border-radius: 5px;
    text-align: center;
}

.info-item>a {
    text-decoration: none;
}

.info-item>a:hover {
    text-decoration: underline;
    color: #003300;
}

.info-texts {
    margin-top: 8px;
    padding: 0px 20px;
}

.info-item>a .info-texts h3 {
    color: #003300;
    background-color: rgba(0, 124, 0, 0.20);
    border-radius: 0.6em;
    padding: 11px;
}

.info-item>a .info-texts p {
    margin-top: 15px;
    color: #4f8db3;
}

.info-img {
    margin-top: 30px;
}

.section-five {
    background-color: #4f8db3;
    margin-top: 58px;
    display: flex;
}

.guideline-heading {
    font-size: larger;
    width: 90%;
    margin:0 auto;
}

.guideline-items {
    display: flex;
    margin-top: 20px;
}

.guideline-item>img {
    width: 25%;
    margin: 50px;
    display: flex;
    justify-content: center;
}
